@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cabin&family=Inter&family=Raleway:wght@400;500&family=Rubik+Bubbles&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: cabin;
}

header {
  background-color: #62a5c6;
  height: 100px;
  width: 100%;
  box-shadow: 0px 3px 10px #464646;
}

body {
  background-image: url("../img/tela3.png");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.logo {
  text-align: center;
}

img {
  width: 210px;
  height: 35px;
  margin: 2%;
}
b{
    text-align: center;
    margin: 20px;
    font-size: x-large;
}
.option{
background-color: #afc6d66f; 
    width: 400px;
    height: 600px;
    margin: 6% auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: -webkit-linear-gradient(left, #8a4fd7 90%, transparent 50%), 
  -webkit-linear-gradient(left, #862add 90%, transparent 50%), 
  -webkit-linear-gradient(top, #378beb 90%, transparent 50%), 
  -webkit-linear-gradient(top, #3368e4 90%, transparent 50%);
  background-size: 20px 4px, 20px 4px, 4px 20px, 4px 20px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: 0 0, left bottom, 0 0, right 0;
 -webkit-animation: anima-borda 20s linear infinite;
 animation: anima-borda 20s linear infinite;
}

#option1,
#option2,
#option3,
#option4
{
    height: 70px;
    width: 300px;
    margin: 15px;
    border-radius: 5px;
    border: 3px solid rgb(251, 251, 251);
    margin-left: 50px;
    font-size: larger;
    font-weight: bold;
    background-color: #a791d2;
    box-shadow: 5px 10px 15px 5px #657bc2;
}

#option1:hover,
#option2:hover,
#option3:hover,
#option4:hover {
    background-color: #62a5c6;
    border: 3px solid rgb(87, 25, 153);
    cursor: pointer;
}


  @-webkit-keyframes anima-borda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }

    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }
  
  @keyframes animaborda {
    0% {
      background-position: 0 0, left bottom, 0 0, right 0;
    }
    100% {
      background-position: 1000px 0, -1000px bottom, 0 -1000px, right 1000px;
    }
  }

  @media (max-width: 600px) {
    b{
      font-size: large;
  }

  .option{
        width: 250px;
        height: 400px;
        display: flex;
        flex-direction: column;
        padding: 10px;
  }
  #option1,
  #option2,
  #option3,
  #option4
  {
      height: 50px;
      width: 210px;
margin: 15px;
}
  }